<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.mapper.CbtMapper">
    <select id="findAll" resultType="Cbt">
SELECT * FROM thought ORDER BY id DESC
</select>
    <insert id="create" parameterType="Cbt">
INSERT INTO thought (  
    thought_datetime,
    situation,
    feeling,
    percent,
    automatic_thinking,
    base,
    objection,
    new_thinking,
    new_feeling,
    new_percent
)
VALUES 
(
    #{thoughtDateTime},
    #{situation},
    #{feeling},
    #{percent},
    #{automaticThinking},
    #{base},
    #{objection},
    #{newThinking},
    #{newFeeling},
    #{newPercent}
)
</insert>
    <select id="findById" parameterType="integer" resultType="Cbt">
SELECT * FROM thought WHERE id = #{id}
</select>
    <update id="update" parameterType="Cbt">
UPDATE
    thought
SET
    thought_datetime = #{thoughtDateTime},
    situation = #{situation},
    feeling = #{feeling},
    percent = #{percent},
    automatic_thinking = #{automaticThinking},
    base = #{base},
    objection = #{objection},
    new_thinking = #{newThinking},
    new_feeling = #{newFeeling},
    new_percent = #{newPercent}
WHERE
    id = #{id}
</update>
</mapper>